In [1]:
import pandas as pd

- promoter

In [23]:
promoter_peaks = pd.read_csv("/Users/LoboM/Documents/e11_12_analysis/all_differentially_expressed_peaks_promoter.csv")

In [25]:
tmp_promoter = promoter_peaks[['seqnames','start','end','group_name']]

In [16]:
tmp_promoter['start'] =  tmp_promoter['start'] - 1

/Users/LoboM/miniconda3/envs/celloracle_env_new2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
cols =  ["C18","C19","C21","C22","C13","C12","C10","C9","C11","C14","C15","C8","C3","C4","C5","C6","C7","C1","C2","C20","C16","C17"]

In [19]:
for entry in cols:
    tmp = tmp_promoter.loc[tmp_promoter['group_name']==entry,['seqnames','start','end']]
    tmp.to_csv(entry + '_promoter.bed',sep='\t',header=False,index=False)

- distal

In [26]:
# same set of peaks as went into Fig3a heatmap
distal_peaks = pd.read_csv("/Users/LoboM/Documents/e11_12_analysis/all_differentially_expressed_peaks_distal.csv")

In [29]:
tmp_distal = distal_peaks[['seqnames','start','end','cluster']]

In [34]:
# test
len(list(tmp_distal['seqnames'] + '_' + tmp_distal['start'].astype('string') + '_' + tmp_distal['end'].astype('string')))

35182

In [35]:
# test
len(set(tmp_distal['seqnames'] + '_' + tmp_distal['start'].astype('string') + '_' + tmp_distal['end'].astype('string')))

27295

In [36]:
tmp_distal['start'] =  tmp_distal['start'] - 1

/Users/LoboM/miniconda3/envs/celloracle_env_new2/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
tmp_distal

      seqnames      start        end cluster
0         chr2  147968538  147969039      C1
1         chr7  130335426  130335927      C1
2         chr1   11340582   11341083      C1
3        chr17   84157083   84157584      C1
4         chr5   29467700   29468201      C1
...        ...        ...        ...     ...
35177     chr1   20997055   20997556     C22
35178     chr1   18057782   18058283     C22
35179     chr7  139827648  139828149     C22
35180    chr11   84604866   84605367     C22
35181     chr9   83488310   83488811     C22

[35182 rows x 4 columns]

In [54]:
for entry in cols:
    tmp = tmp_distal.loc[tmp_distal['cluster']==entry,['seqnames','start','end']]
    tmp.to_csv('distal_beds/' + entry + '_distal.bed',sep='\t',header=False,index=False)

- pass to R GREAT analysis